body, .aui-page-panel  {
    background: #1e1e1e;
    color: #ccd3d6 !important;
}
#header .aui-header, #com-atlassian-confluence .aui-dd-parent .aui-dropdown{
	background-color: #333;
    border: #333;
}
#header .quick-nav-drop-down li a, .aui-header .quick-nav-drop-down li a {
	color: #ccd3d6;
}
#header .quick-nav-drop-down .aui-dropdown li a.space-name, .aui-header .quick-nav-drop-down .aui-dropdown li a.space-name{
	color: #919699;
}
.aui-dropdown2.aui-style-default:hover .aui-dropdown2-checkbox, .aui-dropdown2.aui-style-default:hover .aui-dropdown2-radio, .aui-dropdown2.aui-style-default:hover a,
.aui-dropdown2.aui-style-default [role="menuitem"], .aui-dropdown2.aui-style-default [role="menuitemcheckbox"], .aui-dropdown2.aui-style-default [role="menuitemradio"], .aui-dropdown2.aui-style-default [role="radio"], .aui-dropdown2.aui-style-default [role="checkbox"], .aui-dropdown2.aui-style-default a,
.aui-dropdown2-in-header.aui-style-default a, .aui-dropdown2-in-header.aui-style-default a:visited, .aui-dropdown2-in-header.aui-style-default a:link, .aui-dropdown2-in-header.aui-style-default:hover a, .aui-dropdown2-in-header.aui-style-default:hover a:visited, .aui-dropdown2-in-header.aui-style-default:hover a:link,
#com-atlassian-confluence .aui-dd-parent .aui-dropdown .dropdown-item a, .aui-dropdown2 .aui-dropdown2-section li a, .aui-dropdown2 .aui-dropdown2-section li a[role="menuitem"]{
	background-color: #333;
	color: #ccd3d6;
}
.aui-dropdown2-section, .aui-dd-parent .aui-dropdown, .aui-dropdown, .aui-dd-parent .aui-shadow-parent, #com-atlassian-confluence .aui-dd-parent .aui-dropdown{
	border: solid 0 #f0f0f0;
}
.confluenceTh, .confluenceTd {
    border-color: #333;
}
#footer-logo {
    background: #1e1e1e;
}
#footer .footer-body a {
    color: #868686;
}
.acs-side-bar, .ia-scrollable-section, .space-tools-section {
    background: #333;
    color: #ccd3d6 !important;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(86, 86, 86);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
::-webkit-scrollbar-corner {
    background: #333;
}

#title-text a {
    color: #ccd3d6;
}
h1, h2, h3, h4, .wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4, .pagetitle, .steptitle, .substeptitle, .formtitle, table.confluenceTable td.confluenceTd.highlight, table.confluenceTable td.confluenceTd.highlight > p, table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh > p, .wiki-content .tablesorter-header-inner, table.admin th, .form-element-large, .form-element-small, #toolbar #format-dropdown .format-h1 a, #toolbar #format-dropdown .format-h2 a, #toolbar #format-dropdown .format-h3 a, #toolbar #format-dropdown .format-h4 a {
    color: #ccd3d6;
}
#main #main-header.overlay-header {
    border-bottom: 1px solid #1e1e1e;
    background-color: #1e1e1e;
}
#breadcrumbs li:before,
#main-header:not(.doctheme-no-override) #breadcrumb-section #breadcrumbs li {
    color: #868686;
}
#main #main-header.overlay-header,
.ia-splitter-handle-highlight,
.space-tools-section {
    border-color: #1e1e1e;
}
#acs-nav-list-main .acs-nav-item-label, #acs-nav-list-quick .acs-nav-item-label, .acs-nav-sections p, .acs-side-bar h5 {
    color: #ccd3d6;
}
a, a:visited, a:focus, a:hover, a:active, a.blogHeading,
.acs-tree-item, .acs-side-bar a, .acs-side-bar td a,
.wiki-content a, .wiki-content a:link, .wiki-content a:visited, .wiki-content a:focus, .wiki-content a:hover, .wiki-content a:active {
    color: #489dc7;
}
.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list li .plugin_pagetree_children_content .plugin_pagetree_current a {
    color: green;
}
div.panel.pdl {
    border-color: #868686;
}
.code, .preformatted,
.pdl .panelContent,
.syntaxhighlighter.sh-confluence {
    background-color: #1e1e1e !important;
}
.syntaxhighlighter.sh-confluence .plain, .syntaxhighlighter.sh-confluence .plain a {
    color: #ccd3d6!important;
}
.syntaxhighlighter.sh-confluence .string, .syntaxhighlighter.sh-confluence .string a {
    color: orange!important;
}
.panelHeader.pdl>b,
blockquote p span{
    color: #868686!important;
}
table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh>p, table.confluenceTable td.confluenceTd.highlight, table.confluenceTable td.confluenceTd.highlight>p, table.confluenceTable th.confluenceTh.highlight-grey, table.confluenceTable th.confluenceTh.highlight-grey>p, table.confluenceTable td.confluenceTd.highlight-grey, table.confluenceTable td.confluenceTd.highlight-grey>p,
.wiki-content table.tablesorter>thead>tr>th {
    background: #333;
}
.pdl .codeContent .gutter,
div.panelHeader.pdl,
.confluence-information-macro-information {
    background: #333;
    color: #ccd3d6;
    border-color: #333;
}
div.panel.pdl {
    border-color: #333;
}
.expand-collapse-trigger {
    background-color: #333;
}
.aui-button.aui-button-subtle {
    color: #ccd3d6;
}
.aui-icon-small:before, .aui-icon-large:before {
    color: #ccd3d6;
}
#search-results-header {
    background-color: #333;
    border-color: #333;
}
form.aui .text, form.aui .password, form.aui .upfile, form.aui .textarea, form.aui .select, form.aui .multi-select, form.aui .aui-select2-container,
.aui-button, a.aui-button, .aui-button:visited {
    background: #1e1e1e;
    border-color: #333;
    color: #ccd3d6;
}
.aui-select2-container.select2-container-multi .select2-choices {
    background: #1e1e1e;
    color: #ccd3d6;
}
form.aui .text, form.aui .password, form.aui .textarea, form.aui .select, form.aui .multi-select, form.aui .aui-select2-container .select2-choices,
form.aui .aui-select2-container.users-autocomplete {
    border-color: #333;
}
.aui-dropdown2.aui-style-default {
    background-color: #333;
    border-color: #333;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active{
    background: #1e1e1e!important;
}
