#tabs .tab:not(.add):not(.overflow-tab), #tabs .tab, .workspace.apps:not(.ticket_editor_app), .split_pane.collapsible .pane.left, .split_pane.dashboard > header .pane.left {
	border-color: #333;
}
#main_navigation {
	background: #333;
}
#main_navigation .toolbar_link {
	color: #59BBE0;
}
.ember-view, body {
	border-color: #1e1e1e;
}
.split_pane.ticket .pane.left {
	width: 315px;
}
.ticket-sidebar .property_box {
	padding: 0;
}
body {
	background-color: #333;
}
.popover-inner, .popover-title, .last-comment-header{
	background-color: #333!important;
	color:#fff!important;
}
.popover-content{
	color: #ccd3d6!important;
}
.ticket_summary .popover-inner{
	border: 1px solid #1e1e1e;
	border-radius: 0px;
}
.modal {
	background-color: #1e1e1e;
	color: #fff !important;
}
.main_panes > .pane.right, .indicators, h4.list-heading {
	border: 0;
}
.title, .app-6536 .whole .card .contacts div.name a {
	color: #fff;
}
select:focus, textarea:focus, input:not(.highlightable):focus, .editable:focus, .editable input[type="text"]:focus, .focused, .token_list.ui-state-focus, .ui-selectmenu:focus, .zd-state-focus .zd-selectmenu-base, .zd-state-focus .zd-searchmenu-base {
	border-color: #03363d!important;
}
.app-6536 .whole, .workspace.apps:not(.ticket_editor_app) .app_view_outer, .app-6536 .whole .expand-bar {
	background: #333;
}
.workspace.apps:not(.ticket_editor_app) .app_view_outer {
	border: 0;
}
.app-6536 .whole .card .counts li .ticket_status_label, .ticket_status_label.compact {
	opacity: 1!important;
}
.event.is-new {
	background-color: #1e1e1e;
	color: #fff;
}
.notification.v2 .btn:hover {
	background-color: rgb(45, 45, 45);
}
.notification.v2 .btn {
	background-color: #333;
	color: #fff;
	border: 0;
	border-radius: 0;
}
#tabs .tab .popover.bottom.add .popover-inner {
	background-color: #333;
	border-radius: 0;
	border-color: #1e1e1e;
}
#tabs .tab .popover.bottom.add .popover-inner .links-section a {
	color: #fff;
}
#tabs .tab .popover.bottom.add .popover-inner .links-section li:hover, #tabs .tab .recent-ticket:hover {
	background-color: #1e1e1e;
}
#tabs .tab .popover.bottom.add .popover-inner .popover-title, .popover-content {
	background-color: #333;
	color: #ccd3d6;
}
.goog-text-highlight {
	background-color: #333;
	box-shadow: 1px 1px 1px 1px;
}
.main_panes > .pane.left {
	background-color: #333;
	color: #ccd3d6;
}
.zd-combo-selectmenu .zd-highlight, .zd-selectmenu .zd-highlight, .zd-searchmenu .zd-highlight {
	color: #ccd3d6 !important;
}
.notification.v2 {
	color: #fff;
	background-color: #1e1e1e;
	border: 0;
	border-radius: 0;
}
#tabs .tab > .tab-content-holder .close:hover {
	background-color: #1e1e1e;
}
#branding_header #user_options .header-search .search-icon, #zd-product-tray {
	color: #fff;
	background-color: #333;
}
.property_box_container, .zd-selectmenu-root, .zd-searchmenu-root, .zd-combo-selectmenu-root, #wrapper, .filters > .pane.left ul.filters li.selected, .clearfix, h4.list-heading {
	color: #fff;
	background-color: #1e1e1e;
}
.filters > .pane.left ul.filters li:not(.selected):hover, .filter_tickets:not(.deleted) .regular:hover td {
	background-color: rgb(45, 45, 45);
}
.ember-view .ember-text-area .autoresize, textarea {
	background-color: #252525 !important;
	color: #fff !important;
}
circle, path {
	stroke: #59BBE0 !important;
}
.activities .comment_value {
	color: #ccd3d6;
}
#tabs .tab.selected .tab-content-holder {
	background-color: #333;
	color: #ccd3d6;
}
.main_panes header .pane, .workspace header .pane {
	padding: 5px 0;
}
.ticket .form_field.highlight_update:not(.fr-focus) .zd-selectmenu-base, .current_collaborators .zd-tag-menu-root, .user-picker-menu-base .zd-tag-menu-root, .current_collaborators .zd-menu-list-holder, div.jGrowl div.jGrowl-notification {
	background-color: rgb(38, 38, 38);
	color: #ccd3d6;
}
.zd-menu-list-holder, .zd-selectmenu-base, .hasDatepicker, .ember-view .ember-text-field, input[type="text"], .activities .item, .activities .description {
	background-color: rgb(38, 38, 38);
	color: #fff;
	border: 0;
}
.zd-selectmenu-base-arrow .zd-icon-arrow-down {
	border-top-color: #fff;
}
#tabs .tab, .split_pane.collapsible .pane.left, section.filters .right header, .split_pane.dashboard > header .pane.left, .split_pane.dashboard > header .pane.right, .main_panes > .pane.section.aux-content {
	background-color: #1e1e1e;
	color: #ccd3d6;
}
#branding_header {
	background: #1e1e1e;
}
#branding_header #user_options, #branding_header #tabs, #branding_header {
	background: #333;
}
.pane .left, .workspace header .pane, .workspace.apps:not(.ticket_editor_app) {
	background-color: #333;
	color: #ccd3d6;
}
.mast {
	background-color: #1e1e1e;
	color: #ccd3d6;
}
.filter_tickets .is-viewed-by-others td.collision div {
	filter: invert(100%);
	opacity: 1;
}
.filter_tickets td {
	border-color: #ccd3d6;
}
.zd-selectmenu-base-content, .filters > .pane.left ul.filters li.has-zero-ticket-count:not(.selected) a, .filters > .pane.left ul.filters li a, .user_filters > .pane.left ul.filters li a, .user > .pane.left ul.filters li a, .filter_tickets td a, .filter_tickets td {
	color: #ccd3d6;
}
.event .header .actor .name a, #tabs .tab.selected .tab-content-holder .tab_text, .mast .editable input, #tabs .tab > .tab-content-holder .tab_text, section.filters .right header h1, .filter_tickets th {
	color: #fff;
}
#tabs .mail.tab > .tab-content-holder .icon, #tabs .mail.selected > .tab-content-holder .icon, #tabs .add.tab > .tab-content-holder .icon, #tabs .add.selected > .tab-content-holder .icon {
	filter: invert(100%);
}
#tabs .tab.add {
	background-color: #1e1e1e !important;
	color: #ccd3d6 !important;
	max-width: 200px;
	width: 200px;
}
.ticket-sidebar .property_box, .ticket footer, .ember-view .pane .left .section .ticket-sidebar, .section.ticket {
	background-color: #1e1e1e !important;
	color: #ccd3d6 !important;
}
.split_pane.ticket footer {
	border-color: #333;
}
::-webkit-scrollbar {
	width: 12px;
}
/* Track */

::-webkit-scrollbar-track {
	background: #333;
}
/* Handle */

::-webkit-scrollbar-thumb {
	background: rgb(86, 86, 86);
}
.ticket-sidebar .property_box {
	background-color: #333!important;
	border-color: #333 !important;
}
.section.ticket .pane_ {
	background-color: #1e1e1e;
}
.section.ticket .tab-controls-container {
	background-color: #1e1e1e;
	border-color: #333;
}
.split_pane.ticket > .pane.right .section .mast, .mast .editable input {
	border: none;
}
.editable input[type="text"]:hover {
	border: none;
}
.main_panes header, .workspace header {
	border-color: #333 !important;
}
.c-tab__list .c-tab__list__item, .c-tab__list__dropdown .c-tab__list__item {
	border-color: #fff !important;
	color: #fff;
}
.c-tab__list__item.c-tab__list__item.is-selected {
	color: #838383
}
.left.pane .property_box_container {
	background: #333;
}
.split_pane.ticket > .pane.right, .header .pane_header .mast .clearfix .web {
	border-color: #1e1e1e !important;
}
.main_panes header .pane .btn, .workspace header .pane .btn {
	background-color: rgb(38, 38, 38)!important;
	color: #fff;
	border: none;
}
.ticket_status_label.closed, .sla-policy-metric-action-label.closed {
	background-color: #333 !important;
}
.event:not(.is-public) .comment {
	background-color: #333;
	color: #fff;
	border-color: #988218;
}
.ticket .form_field.highlight_update:not(.fr-focus).checkbox-field, .ticket .form_field.highlight_update:not(.fr-focus).requester .zd-searchmenu-base, .ticket .form_field.highlight_update:not(.fr-focus).problem_id .zd-searchmenu-base, .ticket .form_field.highlight_update:not(.fr-focus) .zd-tag-menu-root, .ticket .form_field.highlight_update:not(.fr-focus) .zd-selectmenu-base, .ticket .form_field.highlight_update:not(.fr-focus) .ui-state-default, .ticket .form_field.highlight_update:not(.fr-focus) textarea, .ticket .form_field.highlight_update:not(.fr-focus) > input:not([type=checkbox]) {
	background-color: rgb(38, 38, 38);
}
.indicators ul {
	background-color: #333;
	border: 1px solid #333;
}
.mast .object_options_btn {
	background-color: rgb(38, 38, 38);
	color: #333;
	border: none;
}
.mast .object_options_btn:after, [class^="icon-"]:last-child, [class*=" icon-"]:last-child {
	filter: invert(100%);
}
.zd-tag-item, .section.ticket .notice, .section.ticket .notice p.pre {
	background-color: #333;
	color: #fff;
	border: none;
}
.zd-tag-item a, section.filters .left header h1 {
	color: #fff;
}
.zd-tag-menu-root {
	background-color: rgb(38, 38, 38);
	border: none;
}
.ticket_collision, ul.attachments li {
	background-color: #333;
	color: #fff;
}
ul.attachments li .attachment i {
	filter: invert(100%);
}
.section.ticket .conversation-nav .dropdown-toggle:after {
	filter: invert(100%);
}
footer .object_options .dropdown-toggle, .footer .object_options .dropdown-toggle {
	color: #fff;
}
.comment_input .btn, .markdown_info {
	background: #333;
	border: none;
	color: #fff;
}
.dropdown-menu {
	background-color: #333;
}
.dropdown-menu li a {
	color: #fff;
}
.zd-searchmenu-base {
	background-color: rgb(38, 38, 38);
	color: #fff;
}
.zd-menu-item {
	background-color: #333;
}
.zd-menu-item > a {
	color: #fff;
}
.zd-menu-root {
	border: none;
}
#tabs .web.tab > .tab-content-holder .icon, #tabs .web.selected > .tab-content-holder .icon, .next_option .next_icon, .ticket footer .post-save-actions .dropdown-toggle:after, .dropdown-menu .selected::after {
	filter: invert(100%);
}
.zd-selectmenu-base {
	background-image: none;
}
.macro-selector .zd-selectmenu-base-content {
	color: #fff;
}
.macro-selector .zd-selectmenu-base .zd-selectmenu-base-content .icon, .macro-selector .zd-selectmenu-base-arrow {
	filter: invert(100%);
}
.mast.pane_header .round-avatar {
	filter: invert(86%);
}